{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Merriweather Sans';
  font-weight: 300;
  color: #6BC6E5;
  background-image: url("images/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #6BC6E5;
  text-align: center;
}

button {
  background: none;
  border: none;
}

ul, ol {
  list-style: none;
  padding: 0;
}

input {
  border: none;
  outline: none;
  font-family: 'Merriweather Sans';
  font-weight: 700;
  color: #0E6BA8;
  font-size: 24px;
  background: none;
}

h1 {
  margin-bottom: 40px;
  margin-top: 0px;
  font-family: 'Halant';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #284352;
}

p {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #6BC6E5;
  margin: 0px 100px;
}

/* ========HEADER======= */
.header-content {
  max-width: 1300px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
  width: 700px;
  display: block;
  align-items: center;
}

.header-image {
  width: 500px;
}

.image {
  width: 500px;
}

.start-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}

.start-button {
  background: none;
  border: 3px solid #6BC6E5;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
  transition: 0.5s;
}

.start-button:hover {
  background: #6BC6E5;
  color: #EEF0F0;
}

/* ========ABOUT======= */
.about {
  padding: 50px;
  margin: 100px 0px;
  max-width: 1200px;
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* ========GET HELP======= */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 0px 0;
}

.form {
  width: 500px;
  border: 3px solid #6BC6E5;
  border-radius: 40px;
  background: white;
}

.ask {
  margin-bottom: 50px;
  margin-top: 30px;
}

.form-text {
  font-size: 18px;
  text-align: center;
}

.form-item {
  margin: 20px 0px;
}

.inputs {
  width: 200px;
  border-bottom: 2px solid #6BC6E5;
}

.input {
  width: 400px;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  margin-top: 25px;
  color: white;
  font-family: "Perpetua";
  font-size: 20px;
}

.input::placeholder {
  color: white;
  font-family: "Perpetua";
  font-size: 20px;
}

.message {
  margin-bottom: 50px;
}

.submit-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.submit-button {
  background: none;
  border: 3px solid #6BC6E5;
  color: #6BC6E5;
  width: 300px;
  padding: 20px;
  border-radius: 40px;
  transition: 0.5s;
}

.submit-button:hover {
  background: #6BC6E5;
  color: #EEF0F0;
}

.sent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 0px 0;
}

.confirmation {
  width: 500px;
  border: 3px solid #6BC6E5;
  border-radius: 40px;
  background: white;
  padding: 40px 0px;
}

.confirmation-heading {
  margin: 0px;
}

.confirmation-text {
  margin: 0px 30px 20px 30px;
}

.sent-hidden {
  display: none;
}

.form-hidden {
  display: none;
}
